# Unity Generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
sysinfo.txt

# WebGL / WebXR Build Artifacts
/Build/
/StreamingAssets/WebXR/*
/StreamingAssets/WebGL/*
/*.js
/*.wasm
/*.data
/*.symbols.json

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
